<a href="https://colab.research.google.com/github/DLPY/python2/blob/main/List_Dict_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Data Types

## 1. List

In [ ]:
c = ['apple', 'banana', 'cherry']

In [ ]:
print(type(c))

<class 'list'>

In [ ]:
d= list(('apple', 'banana', 'cherry'))

In [ ]:
print(type(d))

<class 'list'>

### List Methods

#### 1. Length of the list

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### 2. Access List Iems

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

#### 3. Change List Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

#### 4. Add List Items (Append, Insert, Extend)

##### 1. Append

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.append("orange")
print(thislist)

##### 2. Insert

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.insert(1, "orange")
print(thislist)

##### 3. Extend

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

#### 5. Remove List Items

##### 1. Remove

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

##### 2.  Pop

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop(1)
print(thislist)

##### 3. Delete

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

##### 4. Clear List

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#### 6. Loop Lists

##### 1. Loop Through a List

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

##### 2. Loop Through the Index Numbers

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

##### 3. Loop using While

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

##### 4. Looping Using List Comprehension

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

#### 7. List Comprehension

##### 1. List Comprehension using loop

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

##### 2. Comprehension using single line code

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

#### 8. Sort List

##### 1. Ascending

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print('Before Sorting:',thislist)
thislist.sort()
print('After Sorting:',thislist)

##### 2. Descending

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print('Before Sorting:',thislist)
thislist.sort(reverse = True)
print('Before Sorting:',thislist)

##### 3. Case sensitive Sorting

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist) #Case sensitive sorting can give an unexpected result:

##### 4. Case In-sensnitive Sorting

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

##### 5. Reverse the list

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
print(thislist)
thislist.reverse()
print(thislist)

#### 9. Join List

##### 1. Append

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

##### 2. Extend

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

 **Dictionary**

In [ ]:
#Create dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Duplicate values will overwrite existing values:

In [ ]:

# This is formatted as code


#Accessing Items
#Get the value of the "model" key:


# This is formatted as code

#Accessing Items
#Get the value of the "model" key:

In [ ]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["year"]
x

1964

In [ ]:
#Get the value of the "model" key:

x = thisdict.get("model")
x

'Mustang'

In [ ]:
#Get a list of the keys:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [ ]:
#Get a list of the values:

x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

In [ ]:
#Make a change in the original dictionary, and see that the values list gets updated as well:


car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
#Get a list of the key:value pairs
x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#Update the "year" of the car by using the update() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#SET

In [ ]:
myset = {"Dublin", "Cork", "Galway"}

In [ ]:
#Get the number of items in a set
len(myset)

3

In [ ]:
#Set Constructor
#note the double round-brackets
thisset = set(("Dublin", "Cork", "Galway"))
print(thisset)

{'Cork', 'Dublin', 'Galway'}

In [ ]:
#To add one item to a set use the add() method bold text
thisset = {"Dublin", "Cork", "Galway"}

thisset.add("Clare")

print(thisset)

{'Cork', 'Dublin', 'Galway', 'Clare'}

In [ ]:
#To add items from another set into the current set, use the update() method.
thisset = {"Dublin", "Cork", "Galway"}
set2 = {"Donegal", "Sligo", "Laois"}

thisset.update(set2)

print(thisset)

{'Galway', 'Sligo', 'Donegal', 'Cork', 'Dublin', 'Laois'}

In [ ]:
#Add Any Iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

thisset = {"Dublin", "Cork", "Galway"}
mylist = ["Donegal", "Sligo"]

thisset.update(mylist)

print(thisset)

{'Galway', 'Cork', 'Dublin', 'Sligo', 'Donegal'}

In [ ]:
#Remove Item
thisset = {"Dublin", "Cork", "Galway"}

thisset.remove("Cork")

print(thisset)

{'Dublin', 'Galway'}

In [ ]:
#Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}